.nav {
  .nav__audio-btn {
    float: right;
    .dir-rtl & {
      float: left;
    }
  }
}

.is-audio {
  .component__widget {
    clear: both;
  }
}

.audio {
  &__inner {
    .top-left,
    .bottom-left {
      float: left;
      .dir-rtl & {
        float: right;
      }
    }

    .bottom-left {
      float: left;
      .dir-rtl & {
        float: right;
      }
    }

    .top-right,
    .bottom-right {
      float: right;
      .dir-rtl & {
        float: left;
      }
    }
  }

  &__controls {
    &.is-hidden {
      display: none;
    }
  }

  .btn-icon {
    background-color: @btn-color;
    color: @btn-color-inverted;

    .no-touch &:hover {
      background-color: @btn-color-hover;
      color: @btn-color-inverted-hover;
      .transition(background-color @duration ease-in, color @duration ease-in;);
    }
  }
}

.audio-drawer {
  &__item-open {
    display: block;
    padding: @item-padding;
    background-color: @drawer-item-selected;
    border-bottom: 1px solid @drawer;
    color: @drawer-item-inverted-selected;
  }

  &__toggle {
    background-color: transparent;
    color: @drawer-icon-inverted;

    .no-touch &:hover {
      background-color: transparent;
      color: @drawer-icon-inverted-hover;
      .transition(background-color @duration ease-in, color @duration ease-in;);
    }
    margin-top: @btn-padding / 2;
  }

  &__btn {
    width: 100%;
  }

  .drawer__item-body {
    margin-bottom: @btn-padding / 2;
  }
}

.audio-prompt {
  .audio-prompt-icon {
    font-size: @icon-size * 3;
    margin-bottom: @notify-title-margin;
  }

  &__image {
    margin-bottom: @notify-title-margin;
    img {
      display: block;
		  margin-left: auto;
		  margin-right: auto;
      min-width: 0;
		}
  }
}

// Ico moon font used for default audio icon
@font-face {
  font-family: 'audio';
  src: url(fonts/audio.woff);
}

.audio__controls-icon,
.icon-audio-on,
.icon-audio-off,
.icon-audio-play,
.icon-audio-pause {
  font-family: 'audio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: block;
  font-size: @icon-size;
  text-decoration: none;
  text-align: center;
}

.audio-play:before {
  content: "\e900";
}
.audio-pause:before {
  content: "\e901";
}
.audio-stop:before {
  content: "\e902";
}
.audio-volume-high:before {
  content: "\e903";
}
.audio-volume-medium:before {
  content: "\e904";
}
.audio-volume-low:before {
  content: "\e905";
}
.audio-volume-mute:before {
  content: "\e907";
}
.audio-volume-increase:before {
  content: "\e908";
}
.audio-volume-decrease:before {
  content: "\e909";
}
